################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessServiceAnalyzer/bin
/BusinessServiceAnalyzer/obj
/.vs
/BusinessServiceAnalyzer.Tests/bin
/BusinessServiceAnalyzer.Tests/obj
